.accueil {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  position: relative;
  .crique {
    position: absolute;
    width: 100%;
    top: 0;
  }
  .crevasse {
    position: absolute;
    width: 100%;
    bottom: -6%;
    will-change: transform;
    transform-origin: center;
  }
  .titre {
    position: absolute;
    top: 15%;
    left: 8%;
    h1 {
      color: #fb3589;
      font-family: "Martian Mono";
      font-size: 96px;
      font-weight: 500;
      line-height: 123.7%;
      letter-spacing: -1.92px;
      text-transform: uppercase;
    }
  }
}
