.buy-part {
  position: relative;
  margin-top: 200px;
  width: 100vw;
  height: 100vh;
  .chateau-de-sable-svg {
    position: absolute;
    height: 100vh;
    bottom: -6;
    right: inherit;
  }
  .description {
    position: absolute;
    top: 42vh;
    left: 40vh;
    display: flex;
    width: 363px;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    font-size: 16px;
    font-weight: 400;
    width: 30vw;
    .autor {
      font-family: "Switzer";
      font-size: 16px;
      font-weight: 700;
    }
  }
  .cover-and-button {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 30vw;
    gap: 22px;
    right: 56px;
    bottom: 0;
  }
  .cover {
    justify-content: end;
    transform-style: preserve-3d;
    will-change: transform;
    display: flex;
    .cover1 {
      width: 100%;
      transform: translateZ(10px);
    }
    .cover2 {
      position: fixed;
      width: 100%;
      transform: translateZ(20px);
    }
    .cover3 {
      position: fixed;
      width: 100%;
      transform: translateZ(30px);
    }
  }
  button {
    position: relative;
    bottom: 0;
    display: flex;
    width: 100%;
    padding: 27px 20px;
    justify-content: center;
    align-items: flex-end;
    border: 2px solid #fb3589;
    background-color: #fb3589;
    color: white;
    font-size: 24px;
    font-weight: 400;
    transform: translateY(100%);
    transition: 0.3s;
    .hover-effect-button-buy-part {
      background-color: white;
      transition: 0.3s;
      animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
      position: absolute;
      width: 0%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }
  button:hover {
    cursor: pointer;
    color: #fb3589;
    .hover-effect-button-buy-part {
      width: 100%;
    }
  }
}
