.emotion-part {
  background-color: rgb(0, 0, 0);
  position: relative;
  width: 100vw;
  height: 400vh;
  padding: 6%;
  display: flex;
  flex-direction: column;
  img {
    width: 60%;
  }
  img:nth-child(2) {
    position: absolute;
    right: 8vw;
    top: 10vw;
  }
  img:nth-child(3) {
    position: absolute;
    right: 12vw;
    top: 30vw;
  }
  img:nth-child(4) {
    position: absolute;
    left: 10vw;
    top: 40vw;
  }
  img:nth-child(5) {
    position: absolute;
    left: 20vw;
    bottom: 120vw;
  }
  img:nth-child(6) {
    position: absolute;
    right: 0;
    bottom: 110vw;
  }
  img:nth-child(7) {
    position: absolute;
    left: 10vw;
    bottom: 90vw;
  }
  img:nth-child(8) {
    z-index: 1;
    position: absolute;
    right: 10vw;
    bottom: 26vw;
  }
  img:nth-child(9) {
    position: absolute;
    left: 6vw;
    bottom: 0;
  }
}
