.emotion-part {
  z-index: 100;
  background-color: rgb(0, 0, 0);
  position: relative;
  width: 100vw;
  padding: 6%;
  top: 0;
  display: flex;
  flex-direction: column;
  img {
    width: 70%;
  }
  img:nth-child(2) {
    align-self: flex-end;
    transform: translateY(-80%);
  }
  img:nth-child(3) {
    align-self: flex-end;
    transform: translateY(-110%) translateX(-13%);
  }
  img:nth-child(4) {
    transform: translateY(-180%);
  }
  img:nth-child(5) {
    transform: translateY(-210%) translateX(10%);
  }
  img:nth-child(6) {
    transform: translateY(-275%) translateX(51%);
  }
  img:nth-child(7) {
    transform: translateY(-330%);
  }
  img:nth-child(8) {
    transform: translateY(-300%);
    align-self: flex-end;
    z-index: 1;
  }
  img:nth-child(9) {
    transform: translateY(-330%) translateX(11%);
  }
  img:nth-child(10) {
    transform: translateY(-100%);
  }
}
