.first-family {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transform: translateY(100%);
  .background {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .second-plan {
    width: 50%;
    position: absolute;
    bottom: 35%;
  }
  .foreground {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .speech-bubbles-first-family {
    width: 25%;
    top: 3%;
    right: 7%;
    rotate: 15deg;
    position: absolute;
    opacity: 0;
  }
}
