.menu {
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 45px;
  padding-left: 128px;
  padding-right: 128px;
  .menu-first-part {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 41px;
    font-size: 16px;
    line-height: 100%; /* 16px */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }
  .menu-buy-button {
    display: flex;
    position: relative;
    padding: 10px 15px;
    justify-content: center;
    align-items: flex-end;
    background-color: transparent;
    color: #fb3589;
    gap: 10px;
    border: 1px solid #fb3589;
    transition: 0.3s;
    .hover-effect-button-menu {
      z-index: -1;
      transition: 0.3s;
      position: absolute;
      background-color: #fb3589;
      width: 0%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  .menu-buy-button:hover {
    cursor: pointer;
    .hover-effect-button-menu {
      width: 100%;
    }
    color: white;
  }
}
