.second-part {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .girl-second-part {
    width: 50%;
    position: absolute;
    bottom: 0;
  }
  .grave-image {
    width: 80%;
    opacity: 0;
  }
}
