.second-family {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transform: translateY(100%);
  .second-family-background {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .second-family-second-plan {
    width: 100%;
    position: absolute;
  }
  .second-family-foreground {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}
