.third-part {
  position: relative;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  img {
    height: 100vh;
    position: absolute;
  }
  .second-image-third-part {
    transform: translateX(5%);
  }
}
