.tong-scene {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  opacity: 0;
  transform-style: preserve-3d;
  will-change: transform;
  z-index: 100;
  img {
    width: 60%;
    position: absolute;
  }
  .scene-tongue-image-1 {
    transform: translateZ(0px);
  }
  .scene-tongue-image-2 {
    position: fixed;
    transform: translateZ(30px);
  }
  .scene-tongue-image-3 {
    position: fixed;
    transform: translateZ(60px);
  }
  .scene-tongue-image-4 {
    position: fixed;
    transform: translateZ(90px);
  }
}
