* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
html,
body {
  font-family: "Switzer";
  color: #fb3589;
  font-size: 16px;
  font-weight: 400;
  height: 100%;

  a {
    text-decoration: none;
  }
}

#smooth-wrapper {
  overflow: hidden;
  scroll-behavior: smooth;
}

#smooth-content {
  will-change: transform;
}
//CURSOR
[data-cursor] {
  background-image: url(/src/img/cursor.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  width: 70px;
  height: 70px;

  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate3d(-50%, -50%, 0);
  transition: transform 120ms linear;
  z-index: 9999;
}
