* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
html,
body {
  font-family: "Switzer";
  color: #fb3589;
  font-size: 56px;
  font-weight: 400;
}
