* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
html,
body {
  font-family: "Switzer";
  color: #fb3589;
  font-size: 16px;
  font-weight: 400;
  height: 100%;

  a {
    text-decoration: none;
  }
}

#smooth-wrapper {
  overflow: hidden;
  scroll-behavior: smooth;
}

#smooth-content {
  will-change: transform;
}
